<div class="filter-flex-container">
    <div class="button">
        <button class="day-of-week" mat-fab color="#1976d2" (click)="previousMonth()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <p></p>
        <!-- <label class="button" for="button"> Previous </label> -->
    </div>
    <div>
        <label for="dateInput">Select a month and year: </label>
        <input type="month" id="month" name="month" onsubmit="generateCalendar()">
    </div>
    <div class="button">
        <!-- <label class="button" for="button"> Next </label> -->
        <p></p>
        <button 
        class="day-of-week" 
        mat-fab color="#1976d2" 
        (monthChange)="generateCalendar()"
        (click)="nextMonth()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>  
</div>
<p></p>

<div class="calendar-header">
    <div class="day-of-week">Mon</div>
    <div class="day-of-week">Tue</div>
    <div class="day-of-week">Wed</div>
    <div class="day-of-week">Thu</div>
    <div class="day-of-week">Fri</div>
    <div class="day-of-week">Sat</div>
    <div class="day-of-week">Sun</div>
</div>
<div class="calendar" *ngFor="let week of getCalendarWeeks()">
    <div class="day" *ngFor="let day of week">
        {{ getFormattedDate(day)}}
        <br>
        <div *ngFor="let patientCalendarEventOrder of patientEventOrder">
            <div *ngIf="patientEventOrder">
                {{assignEventToCalendar(day)}}
                Patient ID: {{assignEventToCalendar(day)}}
            </div>
        </div>
    </div>
</div>
<b></b>
<p>Today is {{today | date}}</p>
<p>Or if you prefer, {{today | date:'fullDate'}}</p>
<p>The time is {{today | date:'h:mm a z'}}</p>